@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600);

h1,h2,h3,h4,h5,h6,p,li,a{
	font-family: 'Open Sans', sans-serif;
}

body{background-color:#eee;}

header{
	box-sizing:border-box;
	width:100%;
	height:45px;
	background-color:#00c997;
	text-align:center;
	padding-top:5px;
	h1{color:#fff;}
}

.playerInfo{
	text-align:center;
	h1,h5{color:#fff;}
	padding-top:10px;
	padding-bottom:10px;
	background-color:#000;
}

.cards{text-align:center;}

.card{
	cursor:pointer;
	width:200px;
	height:300px;
	margin-left:2.5%;
	margin-right:2.5%;
	margin:0 auto;
	display:inline-block;
	background-size: 300%;
	background-position:-200px -270px;
	position:relative;
}

.typeOfHand{
	height:40px;
}

.hold{
	text-align:center;
	background-color:rgba(226,48,48,0.8);
	color:#fff;
	position:absolute;
	left:11px;
	right:11px;
	bottom:-20px;	
}

.button{
	border:3px solid #111;
	text-align:center;
	width:300px;
	height:50px;
	margin:0 auto;
	font-weight:100;
	text-transform:uppercase;
	margin-top:45px;
	margin-bottom:45px;
	color:#111;
	padding-top:10px;
	box-sizing:border-box;
	cursor:pointer;
}

.button:hover{
	background-color:#00c997;
	border-color:#00c997;
	color:#fff;
}